.Todo {
    width: 400px;
}

.TodoList__item {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
}

.TodoList__text {
    margin-right: 10px;
}